Node-Red/flows.json
[{"id":"3df03e4f.2015c2","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"8d95d1c2.3189","type":"ibmiot in","z":"3df03e4f.2015c2","authentication":"apiKey","apiKey":"342a062e.190eaa","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"raspberrypi","eventType":"","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":180,"y":140,"wires":[["9bb25b33.119058","9ee455f4.df5fb8","a30aed8.717a01"]]},{"id":"aee63bcc.cd3848","type":"debug","z":"3df03e4f.2015c2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":140,"wires":[]},{"id":"9bb25b33.119058","type":"function","z":"3df03e4f.2015c2","name":"","func":"global.set('Tank_Status', msg.payload.Tank_Status)\nmsg.payload=msg.payload.Tank_Status\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":40,"wires":[["aee63bcc.cd3848","373cb1af.d5168e"]]},{"id":"9ee455f4.df5fb8","type":"function","z":"3df03e4f.2015c2","name":"","func":"global.set('Flow_Rate', msg.payload.Flow_Rate)\nmsg.payload=msg.payload.Flow_Rate\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":140,"wires":[["aee63bcc.cd3848","aa3b3fd6.1fc4a"]]},{"id":"a30aed8.717a01","type":"function","z":"3df03e4f.2015c2","name":"","func":"global.set('Avg_Consumption', msg.payload.Avg_Consumption)\nmsg.payload=msg.payload.Avg_Consumption\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":240,"wires":[["aee63bcc.cd3848","76bc5413.72936c"]]},{"id":"aa3b3fd6.1fc4a","type":"ui_gauge","z":"3df03e4f.2015c2","name":"","group":"c09498c5.916aa8","order":2,"width":0,"height":0,"gtype":"gage","title":"Water Flow Rate","label":"L/hr","format":"{{value}}","min":0,"max":"45","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":140,"wires":[]},{"id":"373cb1af.d5168e","type":"ui_gauge","z":"3df03e4f.2015c2","name":"","group":"c09498c5.916aa8","order":1,"width":0,"height":0,"gtype":"gage","title":"Tank Status","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":40,"wires":[]},{"id":"76bc5413.72936c","type":"ui_gauge","z":"3df03e4f.2015c2","name":"","group":"c09498c5.916aa8","order":3,"width":0,"height":0,"gtype":"gage","title":"Average Consumption of Water","label":"L","format":"{{value}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":740,"y":240,"wires":[]},{"id":"39b1da36.e61bd6","type":"ibmiot out","z":"3df03e4f.2015c2","authentication":"apiKey","apiKey":"342a062e.190eaa","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":520,"y":360,"wires":[]},{"id":"94d77462.77d0e8","type":"ui_button","z":"3df03e4f.2015c2","name":"","group":"6b39c4e1.9616ac","order":1,"width":0,"height":0,"passthru":false,"label":"Motor ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"motoron\"}","payloadType":"json","topic":"","x":280,"y":320,"wires":[["39b1da36.e61bd6"]]},{"id":"13f61dfc.7eedc2","type":"ui_button","z":"3df03e4f.2015c2","name":"","group":"6b39c4e1.9616ac","order":2,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"motoroff\"}","payloadType":"json","topic":"","x":270,"y":400,"wires":[["39b1da36.e61bd6"]]},{"id":"bba1380f.ec5658","type":"http in","z":"3df03e4f.2015c2","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":210,"y":480,"wires":[["d927de9b.c9171"]]},{"id":"2f57b39b.757f9c","type":"http response","z":"3df03e4f.2015c2","name":"","statusCode":"","headers":{},"x":630,"y":480,"wires":[]},{"id":"d927de9b.c9171","type":"function","z":"3df03e4f.2015c2","name":"","func":"msg.payload={'Tank_Status':global.get(\"Tank_Status\"), 'Flow_Rate':global.get(\"Flow_Rate\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":480,"wires":[["2f57b39b.757f9c"]]},{"id":"342a062e.190eaa","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c09498c5.916aa8","type":"ui_group","z":"","name":"Smart Water Management System","tab":"6f0bb65d.573608","order":1,"disp":true,"width":"6","collapse":false},{"id":"6b39c4e1.9616ac","type":"ui_group","z":"","name":"Motor Control","tab":"6f0bb65d.573608","order":3,"disp":true,"width":"6","collapse":false},{"id":"6f0bb65d.573608","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]